body {
    font-family:'Courier New', Courier, monospace;
    color:black;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

li {
    padding-bottom: 5px;
}

ol {
    font-style: italic;
}

.ingredients {
    background-color: burlywood;
}

.recipe-image {
    margin: auto;
    border: solid 0.5rem black;
}